<%- include ./partials/header %>
<%- include ./partials/navbar %>
<br>
<br>
<br>
<br>
<div class="error">

    <div class="my-5 text-center">
        <h1>ERROR 404</h1>
        <h2>page not found</h2>
        <a href="/" class="btn btn-danger btn-md">Go back home</a>
        </div>
        
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<%- include ./partials/footer %>