  
<% include ./partials/messages.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>

<div id="layoutAuthentication">
<div id="layoutAuthentication_content">
    <main style="background: #fff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                        <div class="card-body">
                            <form action="/login" method="post">
                                <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Username</label><input class="form-control py-4" id="Username" type="text" name="Username" placeholder="Enter Username" minlength="3" /></div>
                                <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" name="password" placeholder="Enter password" minlength="6" /></div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <a class="small" href="/password">Forgot Password?</a>
                                    
                                    <button class="btn btn-success" type="submit" class="btn btn-success btn-block" style="background: #fd7e14; color: white;">Login</button></div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small"><a href='/register'>Need an account? Sign up!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>
<% include ./partials/footer %>